
.tf_cloud div {
  text-align: center;
}
.tf_cloud .size0 {
  font-size: 0.8em;
}
.tf_cloud .size1 {
  font-size: 0.9em;
}
.tf_cloud .size2 {
  font-size: 1.0em;
}
.tf_cloud .size3 {
  font-size: 1.1em;
}
.tf_cloud .size4 {
  font-size: 1.2em;
}
.tf_cloud .size5 {
  font-size: 1.3em;
}
.tf_cloud .size6 {
  font-size: 1.4em;
}
.tf_cloud .size7 {
  font-size: 1.5em;
}
