#popup-content {
  width: 300px;
  background: #bbb;
  position: fixed;
  top: 130px;
  right: 30px;
  padding: 20px 10px;
  z-index: 1000;
}

#popup-content a {
  color: #fff;
}

#popup-content .categories {
  font-size: 80%;
  padding: 20px 0 0 0;
}
