#header {
  background-color: #6EA038;
}


#postscript-area {
  background-color: #6EA038;
}

#content-container .section {
  padding: 40px;
  background: #DDD;
  height: 100%;
  margin: 10px 0 40px 0;
}

#content-container .button a {
  background-color: #6EA038;
}
