.form-item, .form-actions {
  margin-top: 0;
  margin-bottom: 4px;
}

/* Hide excessive markup tips */
.filter-wrapper, .filter-wrapper .filter-guidelines, .filter-wrapper .filter-help {
  display: none;
}

.node-form .description {
  font-size: 100%;
  margin: 0 0 5px 0px;
  padding: 4px;
  background-color: #ddd;
  width: 200px;
}


fieldset a.fieldset-title {
  font-size: 150%;
  text-transform: uppercase;
  color: #fff;
  background-color: #66ACBF;
  padding: 0px 4px;
  margin: 0px 0px 5px 0;
  font-weight: bold;
}


.node-form .form-item label {
  background-color: #66ACBF;
  padding: 5px 10px;
  margin: 0 20% 10px 0;
  color: #fff;
  width: 200px;
  text-transform: uppercase;

/*   font-size: 130%; */
  font-weight: bold;
  margin: 0px 0px 5px 0;
}

.node-form .form-item textarea,
.node-form .form-item.form-type-textfield input {
/*   font-size: 100%; */
/*   width: 400px; */
}
.node-form .form-item .form-type-radio label {
  background: none;
  color: #666;
}

.node-form .form-item input.form-checkbox {
  width: auto;
}
.grippie {
/*   width: 400px; */
}
.node-form  .form-actions {
/*   font-size: 100%; */
/*   padding: 4px;   */
}
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}


.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #0FBAE8;
  border: 0;
  border-bottom: 1px solid #fff;
}

.vertical-tabs ul.vertical-tabs-list li {
  background-color: #0B9AAD;
  border: 0;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.vertical-tabs ul.vertical-tabs-list li a {
  color: #fff;
}

.form-textarea-wrapper {
  width: 50%;
}


/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

fieldset.group-geographic {
/*   width: 400px;   */
}

.help-map {
  display: none;
}

fieldset {
  clear: both;
}
fieldset.group-geographic,
fieldset.group-categories {

}

fieldset.group-categories {
/* float: left; */
  clear: right;
}

div#main-content-container {
  width: 1000px;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}



/* Forms
/-------------------------------------------------------------- */
/* defaults for all text fields */
.form-text {
  padding: 2px;
}

/* defaults for all form buttons */
form input.form-submit {
  cursor: pointer;
  font-weight: bold;
  margin: 2px;
  padding: 3px 5px;
}

form input.form-submit:hover {
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 4px 4px 20px 0px;
  border: none;
}

fieldset fieldset {
  margin: 10px 10px 20px 0px;
  padding: 10px;
/*   background-color: #ddd; */
}

fieldset fieldset a.fieldset-title {
   background: none;
   color: #666;
   font-size: 14px;
   text-decoration: underline;
}

.form-item .description {
  float: right;
}

.form-item .description .close-btn {
  background: black;
  width: 15px;
  height: 15px;
  color: #fff;
  float: right;
}

html.js fieldset.collapsed {
  margin-bottom: 15px;
}

/* limit width of form inputs */
textarea,
.form-item input,
.form-item select,
#content-region input.form-text {
  max-width: 95%;
}

html.js textarea {
  max-width: 100%;
}

/* adjust for collapsible fieldset differences */
fieldset.collapsible .resizable-textarea textarea {
  max-width: 101.5%;
}

fieldset.collapsible .resizable-textarea .grippie {
/*   width: 400px; */
}

/* keep theme switcher visible */
.form-item select#edit-theme {
  max-width: none;
}

/* region labels on block admin page */
.block-region {
  background-color: #F3F3F3;
  border: 3px dashed #CCCCCC;
  color: #555555;
  font-weight: bold;
  margin: 1px;
  padding: 3px;
  text-align: center;
  text-shadow: 1px 1px #FDFDFD;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* remove help message style in admin block demo mode */
.page-admin-structure-block-demo div.content-help-inner div.help {
  background-color: transparent;
}

.page-admin-structure-block-demo div.content-help div.help {
  border-width: 0;
  padding: 0;
}

html.js fieldset.collapsible .fieldset-legend {
background: none;
padding-left: 0px;
}

.form-item label{
  float: left;
}

.form-type-radios label.option {
  float: inherit;
}

.form-item {
  clear: both;
}

.form-type-radios .form-item {
  clear: right;
}

.form-item input{

margin-left: 10px;
}

