
/**
 * Forms
 */
form .form-item-wrapper {
    margin-bottom: 10px;
}

form .label-wrapper {
  display: block;
  height: 20px; 
  margin-bottom: 10px;
  margin-top: 5px;
}

form label {
  background-color: #E89A41;
  padding: 5px;
  font-size: 1.25em;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase; 
  width: 200px;
}
form .filter-wrapper .form-item label {
  background: none;
  color: inherit;
}

form .form-type-checkbox label,
form .form-type-checkboxes label,
form .form-type-radios label {
  background: none;
  color: inherit;
  text-transform: inherit;
}
form .form-type-checkbox input.form-checkbox,
form .form-type-checkboxes input.form-checkbox {

}
form .form-type-checkboxes label {
  /* float: left; */
}
form .form-type-radios label.option {
  float: inherit;
}
form .text-full,
form .form-text {
  border: none;
  background-color: #AAAAAA;
  color: #FFFFFF;
  font-size: 1.25em;
  padding: 10px;
  margin-bottom: 15px;
}

form .text-full:hover,
form input.form-text:hover,
form .text-full:focus,
form input.form-text:focus {
  background-color: #666666;
}
form .text-full {
  margin-bottom: 0;
}
form .grippie {
  width: 400px;
}


form input.form-text {
  width: 400px;
  height: 40px;
}

form .text-full {
  width: 400px;
}

form .form-item-help {
  margin-left: 10px;
  color: #333333;
}

form .form-filefield-wrapper {
  margin-bottom: 20px;
}

form .submit {
  background-color: #96A044;
  padding: 15px;
  font-size: 1.75em;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
	-moz-box-shadow: 0px 3px 4px #666;
	-webkit-box-shadow: 0px 3px 4px #666;
	box-shadow: 0px 3px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#666666');
}
form .submit:hover {
  background-color: #96A044;
  padding: 15px;
  font-size: 1.75em;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
	margin-top:2px;
	-moz-box-shadow: 0px 1px 2px #666;
	-webkit-box-shadow: 0px 1px 2px #666;
	box-shadow: 0px 1px 2px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#666666');
}

form .form-item-help img {
  width: 20px;
  height: 20px;
  background-color: #eeeeee;
  padding-bottom: 20px;
}

textarea.project-edit-form {
  width: 525px;
  height: 90px;
  font-size: 1em;
}

.form-required {
  font-size: 150%;
  line-height: 90%;
  text-transform: uppercase;
  color: #9f3647;
  float: right;
  padding: 0;
  margin: 0;
}

form .address-ajax input.form-text {
  border: none;
  color: inherit;
  font-size: 1.25em;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #eee;
}

form .description .close-btn {
  float: left;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 4px;
  background-color: #666;
  color: #fff;
  font-size: 100%;
}

form .form-item .description {
  font-size: 125%;
  margin: 0 0 5px 0px;
  padding: 4px;
  position: relative;
}
.filter-wrapper {
  display: none;
}


form fieldset.group-categories input.form-text,
form fieldset.group-categories input.form-text:hover, 
form fieldset.group-categories input.form-text:focus {
  width: 240px;
}

.page-node-edit .field-name-field-categories a {
  color: inherit;
  padding: 4px 10px;
  background: none;
  line-height: 2em;
}

.page-node fieldset.group-geographic {
  background: none;
  border-width: 29px 4px 9px 15px;
  display: block;
  width: 480px;
  margin-top: 50px;
  margin-bottom: 50px;
}
