/* Hide excessive markup tips */
.filter-wrapper, .filter-wrapper .filter-guidelines, .filter-wrapper .filter-help {
  display: none;
}

.node-form .description {
  font-size: 130%;
/*   font-weight: bold; */
  margin: 10px;
  padding: 20px;
  background-color: #ddd;
}

.node-form .form-item label {
  background-color: #e89a41;
  padding: 5px 10px;
  margin: 0 20% 10px 0;
  color: #fff;
  width: 200px;
  text-transform: uppercase;

/*   font-size: 130%; */
  font-weight: bold;
  margin: 20px 20px 10px 0;
}

.node-form .form-item textarea,
.node-form .form-item input {
  font-size: 130%;
}

.node-form  .form-actions {
  font-size: 200%;
  padding: 20px;  
}
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}


/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}


/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}



/* Forms
/-------------------------------------------------------------- */
/* defaults for all text fields */
.form-text {
  padding: 2px;
}

/* defaults for all form buttons */
form input.form-submit {
  cursor: pointer;
  font-weight: bold;
  margin: 2px;
  padding: 3px 5px;
}

form input.form-submit:hover {
  cursor: pointer;
}

fieldset {
  margin: 15px 0;
  padding: 10px;
}

html.js fieldset.collapsed {
  margin-bottom: 15px;
}

/* limit width of form inputs */
textarea,
.form-item input,
.form-item select,
#content-region input.form-text {
  max-width: 95%;
}

html.js textarea {
  max-width: 100%;
}

/* adjust for collapsible fieldset differences */
fieldset.collapsible .resizable-textarea textarea {
  max-width: 101.5%;
}

fieldset.collapsible .resizable-textarea .grippie {
  width: 101%;
}

/* keep theme switcher visible */
.form-item select#edit-theme {
  max-width: none;
}

/* region labels on block admin page */
.block-region {
  background-color: #F3F3F3;
  border: 3px dashed #CCCCCC;
  color: #555555;
  font-weight: bold;
  margin: 1px;
  padding: 3px;
  text-align: center;
  text-shadow: 1px 1px #FDFDFD;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* remove help message style in admin block demo mode */
.page-admin-structure-block-demo div.content-help-inner div.help {
  background-color: transparent;
}

.page-admin-structure-block-demo div.content-help div.help {
  border-width: 0;
  padding: 0;
}
