
/* Typography
-------------------------------------------------------------- */

/* Base Settings
-------------------------------------------------------------- */
body {
  font-family: Helvetica, Arial, sans-serif; color:#666; /* web safe fonts */
  font-size: 14px;
  
  line-height: 150%;   /* 1.5x vertical rhythm */
}

.form-text {
  font-family: Arial, Helvetica, "Nimbus Sans L", FreeSans, sans-serif; 
}


/* HTML Elements
-------------------------------------------------------------- */
h1 {
  font-size:24px;
  line-height:150%;
  margin-bottom:15px;
}

h2 {
  font-size:18px;
  line-height:150%;
  margin-bottom:15px;
}

h3 {
  font-size:16px;
  line-height:150%;
  margin-bottom:15px;
}

h4 {
  font-size: 100%;
  line-height:150%;
  margin-bottom:15px;
}

h5 {
  font-size: 100%;
  line-height:150%;
  margin-bottom:15px;
}

h6 {
  font-size: 100%;
  line-height:150%;
  margin-bottom:15px;
}

#site-name a {
  outline: 0;
}

#footer {
/*   font-size: 95%; */
}


/* Links
/-------------------------------------------------------------- */

a:link, a:visited { 
  color:#96a044; 
  text-decoration:none;
}
a:hover, a:active { 
  color:#96a044; 
  text-decoration:underline;
}
#header a:link, #header a:visited { 
  color:#ffffff; 
  text-decoration:none;
}
#header a:hover, #header a:active { 
  color:#e7e7e7; 
  text-decoration:underline;
}


/* Quicktabs
/-------------------------------------------------------------- */
.quicktabs .block {
  float: none;   /* keep content in div */
}


/*---- MESSAGES ----*/
	
div.status, table tr.ok {
/*     background-color: #F8FFF0; */
}
div.status, .ok {
/*     color: #96a044; */
}
div.status {
/*
    border-color: #96a044;
	background:url(../images/message-24-ok.png) no-repeat #ecede1 ;
*/
}

div.warning, table tr.warning {
/*     background-color:#ca673c; */
}
div.warning, .warning {
/*     color: #ca673c; */
}
div.warning {
/* 	border-color: #ca673c; */
/*     background: url(../images/message-24-warning.png) no-repeat #f1e8e4; */
}

div.error, table tr.error {
/*     background-color: #efdcdf; */
}
div.error, .error {
/*     color: #992739; */
}
div.error {
/*     background: url(../images/message-24-error.png) no-repeat #efdcdf; */
/*     border-color: #992739; */
}

div.messages {
/*
    background-position: 8px 6px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	/* For IE 8 */
/* 	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')"; */
	/* For IE 5.5 - 7 */
/* 	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000'); */
*/
}
.messages-wrapper {
/* 	margin:0 0 15px 0; */
	}

/* ----- SEARCH ----- */

.views-exposed-form .views-exposed-widget {
/*
    float: left;
    padding: 0;
*/
}
.views-submit-button {
/* 	margin:-15px 0 0 0; */
	}
.views-exposed-form {
/* 	display:block; */
/* 	margin:30px 0 0 0; */
	}
.views-exposed-form label {
/*
	font-size:24px;
	font-weight:bold;
	color:#533549;
	line-height:130%;
*/
	}

a#signin {
/*
    background: none repeat scroll 0 0 #992739;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    padding: 5px;
    position: absolute;
    right: 60px;
    text-decoration: none;
    top: 37px;
*/
}
a#signin:hover {
/* 	text-decoration:underline; */
	}

/*  ----  STYLESHEET CSS  ----  */
/*  ----  rewrites system CSS settings  ----  */

li a.active {
/*     color: #533549; */
}

ul.primary {

}
ul.primary li {

}
ul.primary li a {

}
ul.primary li.active a {

}
ul.primary li a:hover {

}
ul.secondary {

}
ul.secondary li {

}
ul.secondary a {
}
ul.secondary a.active {

}

.styleguide-description {

}
div.styleguide {

}
#styleguide-header {

}

/*---- LOGIN ----*/

.toboggan-unified #login-links, .toboggan-unified #login-message {

}
.toboggan-unified #login-message {

}
.toboggan-unified #login-links a {

}
.toboggan-unified #login-links a.lt-active, .toboggan-unified #login-links a.lt-active:hover, .toboggan-unified #login-links a:hover {

	} 
#edit-submit {

	}
#edit-submit:hover {

}

/*---- HEADER ----*/



#header {

  padding: 0;
  margin-bottom:20px;
  
  text-transform: uppercase;
  color:#fff;
  background-color: #e89a41;
  height: 70px;   
  line-height: 70px;
  margin-left: -5.5%;
  width: 110%;

  -webkit-box-shadow: 0px 2px 5px #666;
  -moz-box-shadow: 0px 2px 5px #666;
  box-shadow: 0px 2px 5px #666;
}

.header-logo-container {
  font-weight: bold;
  margin: 0 -60px 0 60px;
}


#search-block-form [name=search_block_form] {
  border: none;
  height: 14px;
  width: 200px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

#search-block-form #edit-submit {
  background-image: url('../images/search-icon.png');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  color: transparent;
}

.header-signin-container {
  text-align: right;
}


/**
 * Main Content Section
 */
#content {
  background-color: transparent;
  float:left;
  margin-right:20px;
  border-width: 20px 24px 29px 24px;
  border-image: url(../images/content-border.png) 20 24 29 24 stretch;
  -moz-border-image: url(../images/content-border.png) 20 24 29 24 stretch;
  -webkit-border-image: url(../images/content-border.png) 20 24 29 24 stretch;
  padding-bottom: 10px;
}

.content-inner {
  background-color: #FFFFFF;
  padding: 10px;
}

/* Custom Content Styling & System overrides */

/**
 * Hide Node elements on home page
 */
body.front h1.title,
body.front span.submitted {
  display: none;
}


/* Views Layout */
.view  table.cols-4 td {
  width: 25%;
  vertical-align: top;
}

.view .pager {

}

.more-link {
  padding: 20px;
}

.view .more-link a {
}

ul.pager a, ul.pager li.pager-current {
  border-style: none;
  border-width: 1px;
  padding: 3px 6px 2px 6px;
  text-decoration: none;
}

ul.pager li.pager-current {
  background-color: #000;
  color: white;
}




#content .content-header {
  background-color: transparent;
  color: #fff;
  margin-left: -40px;
  margin-right: -20px;
  margin-bottom: 1em;
  border-width: 0px 0px 10px 0px;
  -webkit-border-image: url(../images/project-overview-dropshadow.png) 0 0 10 0 stretch;
  -moz-border-image: url(../images/project-overview-dropshadow.png) 0 0 10 0 stretch;
  border-image: url(...images/project-overview-dropshadow.png) 0 0 10 0 stretch;
}

#content .region-content > * {
  background-color: #666;
  padding-left: 20px;
}

#content .region-content h1 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 0px;
}


/**
 * Views
 */
/*
.field-items,
.view .views-row {
  margin-bottom: 2em;
}
*/

#comments {
  background-color: #eee;
  margin: 60px 0 40px 0;
  padding: 20px;
}

.view .jcarousel li{
  width: 150px;
  margin: 10px;
  padding: 10px;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 800px;
  height: 150px;
  padding: 0px 40px;
  margin: auto;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 750px;
}

/* Hide "Sign in" Menu item when logged in */
body.logged-in #block-system-user-menu ul.menu li.first {
  display: none;
}

/* View of tags */
#block-views-tags-block .views-row {
  float: left;
  margin: 5px;
}

.header-sub-site-name {
  font-size: 80%;
  font-weight: bold;
  background: #ddd;
  margin: 10px;
  padding: 10px;
}

.page-node .field-name-field-categories .field-item {
  float: left;
  padding: 0 20px 0 0;
  clear: right;
}

.node .field-label {
  font-weight: normal;
  color: #aaa;
}

.views-row .node .field-item {
font-weight: bold;
font-size: 120%;
}

.node .meta {
  margin: 10px 0 20px 0;
  
}

.meta {
  color: #aaa;
}

li.flag-like span.flag-like a{
  margin: 5px 0 0 0;
  padding: 10px 20px;
  display: inline-block;
  background-color: #533549;
  font-weight: bold;
  color: #fff;
}

li.flag-like span.flag-like a.unflag-action{
  margin: 5px 0 0 0;
  padding: 10px 20px;
  display: inline-block;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

#main h1.title {
  margin: 20px 0 40px 0;
}

.view-web-resources .views-field-field-categories,
.view-web-resources .views-field-field-ownership,
.view-web-resources .views-field-field-type-web-resource,
.view-web-resources .data-edit,
.view-web-resources .views-field-nothing {
  font-size: 90%;
}

.view-web-resources .views-field-title,
.view-web-resources .views-field-field-url-1  {
  font-size: 150%;
  margin-bottom: 10px;
}
#block-system-main-menu li {
  display: inline;
  padding: 0 20px 0 0;
}

#header a,
#block-system-main-menu li a {
  font-size: 100%;
}

.view-web-resources .views-row .node {
  background-color: #ededed;
  padding: 20px;
}

.search-terms {
  font-weight: bold;
	color:#7B3F91;
  margin: 10px 0 20px 0;
  padding: 20px;
  background-color: #ededed;
}


#branding-footer .logo {
  margin: 10px;
  padding: 10px;
  float: right;
  clear: right;
}