#header {
  background-color: #2796F2;
}
.loading {
   background-color: #2796F2;
   color: #fff;
   font-size: 400%;
   height: 400px;
   padding: 50px;
}
#popular-terms {
   background-color: #F77E11;
}