#header {
  background-color: #204496;
}


#postscript-area {
  background-color: #204496;
}

#content-container .section {
  padding: 40px;
  background: #DDD;
  height: 100%;
  margin: 10px 0 40px 0;
}

#content-container .button a {
  background-color: #204496;
}

.example {
  margin: 10px 0;
  font-style: italic;
  font-size: 90%;
}
.verify {
  font-size: 80%;
  color: #666;
}

.map-interface-instructions {
  background: #ddd;
  padding: 20px;
}

.map-interface-instructions .element .icon {
  float: left;
  padding: 10px;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 80%;
}

.map-interface-instructions .element .label {
  font-weight: bold;
}