#header {
  background-color: fuchsia;
}
.page-wallingford .title-container {
  display: none;
}

#popup-content {
  width: 300px;
  background: #bbb;
  position: fixed;
  top: 130px;
  right: 30px;
  padding: 20px 10px;
  z-index: 1000;
}
#content #popup-content .block {
  background: #bbb;
  padding: 20px 10px;
  margin: 0 0 20px 0;
}

#tagline {
  padding: 10px 0;
}

#content #popup-content a {
  color: #fff;
}

#content #popup-content .categories {
  font-size: 80%;
  padding: 20px 0 0 0;
}

.block li a {
  color: #fff;
}
.block ul {
  margin: 0;
}
.block li {
  list-style: none;
  padding: 0 0 4px 0;
}


.loading {
   background-color: #2796F2;
   color: #fff;
   font-size: 400%;
   height: 400px;
   padding: 50px;
}

#popular-terms {
   background-color: #F77E11;
}

ul.menu {
  list-style: none;

}

#home-menu ul.menu li {
  float: left;
  padding-left: 10px;

}
#home-menu ul.menu li,
#home-menu ul.menu li a {
  color: #aaa;
  font-weight: bold;
}


#search-links {

}


#search-links input {
/*   margin: 5px; */
  background-color: #e7e7e7;
/*   padding: 5px; */
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;

}

#search-links input.form-submit {
  background-color: #96a141;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  padding: 0;
    margin: 0px;
  border:none;
  cursor:pointer;
  line-height: 24px;
  padding: 4px;
  margin-left: 10px;
}

#block-sea_wallingford-sea_wallingford_about_block h3{
  color: #2796F2;
}

#map {

}